/* style.css */

body {
    font-size: 18px;
    color: #E5E7EB;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0px;
    height: 100vh;
}

body > * {
    padding-left: 200px;
    padding-right: 200px;
}

.header, .first, .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
}

.header .left {
    font-size: 24px;
    color: #F9FAF8;
}

.header .right {
    display: flex;
    gap: 20px;
}

/* I think change to just flex for all */
.first {
    padding-top: 100px;
    padding-bottom: 140px;
    flex: auto;
}

.first .left {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex: 1;
    gap: 16px;
    padding-right: 12px;
}

.first .left > * {
    margin: 0px;
}

.first .left .top {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: -12px;
}

.first .right {
    background-color: rgb(116, 118, 124);
    flex: 1;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882F6;
    border-radius: 10px;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 34px;
    border-width: 0;
}


.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1F2937;
    padding-top: 20px;
    padding-bottom: 80px;
    flex: auto;
}

.second .top {
    font-size: 36px;
    font-weight: 900;
}

.second .bottom {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.grouper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    text-align: center;
}

.image {
    width: 160px;
    height: 160px;
    border-style: solid;
    border-width: 5px;
    border-color: #3882F6;
    border-radius: 15px;
}

.third {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    color: #1F2937;
    padding-left: 335px;
    padding-right: 290px;
    padding-top: 125px;
    padding-bottom: 80px;
    flex: auto;
}

.third .quote {
    font-weight: 200;
    /* Not working for some reason */
    font-size: 36px;
    /* transform: skewX(-6deg); */
    margin-bottom: -12px;
}

.third .quoter {
    font-weight: bold;
    font-size: 24px;
    text-align: right;
    padding-right: 40px;
}

.fourth {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    flex: auto;
    justify-content: center;
}

.blue {
    display: flex;
    background-color: #3882F6;
    border-radius: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 125px;
    padding-right: 125px;
    flex: auto;
    justify-content: space-between;
    align-items: center;
}

.blue .left {
    display: flex;
    flex-direction: column;
}

.blue .left .top {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
    margin-bottom: -14px;
}

.blue .right {
    border-style: solid;
    border-width: 2px;
    border-color: #F9FAF8;
}
.footer {
    color: #F9FAF8;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
